<form action="/shortener" method="post">
    <input type="text" name="link" value="" placeholder="Place long Link Here"> <br>
    <input type="text" name="alias" value="" placeholder="Place desired short link"> <br>
    <input type="submit" name="submit">
</form>